.intro {
  background-color: indigo;
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 20px;
}

.parallax {
  /* Set a specific height */
  min-height: 75vh;

  /* Create the parallax scrolling effect */
  /* scroll (default), fixed, local (scrolls with element contents), initial, inherit*/
  background-attachment: fixed;
  /* left, right and center and be combined with top center and bottom*/
  background-position: center;
  /* repeat, repeat-x, repeat-y, no-repreat, space, round, initial, inherit*/
  background-repeat: no-repeat;
  /* auto (default), cover, contain, and numerical inputs.*/
  background-size: cover;
}

#parallax-1 {
  /* The image used */
  background-image: url("../images/lilly.jpg");
}

#parallax-2 {
  /* The image used */
  background-image: url("../images/joepye.jpg");
  position: relative;
}

#parallax-3 {
  /* The image used */
  background-image: url("../images/sunflowers.jpg");
}

#parallax-4 {
  /* The image used */
  background-image: url("../images/coneflowers.jpg");
}

.text-1,
.text-3 {
  background-color: rgba(255, 102, 178, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  padding: 50px;
}

.text-2 {
  font-size: 36px;
  padding: 50px;
  color: white;
  position: absolute;
  bottom: 0;
}

#moving-frames-div {
  height: 75vh;
  background-color: rgba(0, 100, 0, 1);
  position: relative;
}

#span-box-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 1;
  border: 1px solid white;
}

#span-box-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 2;
  border: 1px solid white;
}

#span-box-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 3;
  border: 1px solid white;
}

#span-box-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 4;
  border: 1px solid white;
}

#animation-div {
  height: 75vh;
  background-color: rgba(0, 100, 0, 1);
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
}

.animation-box {
  /*flex-grow: 1;*/
  width: 25%;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
}

.bloom1 {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;

  -webkit-animation: bloom1 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: bloom1 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom1 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}

@keyframes bloom1 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}

.bloom2 {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;

  -webkit-animation: bloom2 2s 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */

  animation: bloom2 2s 0.5s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom2 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  55% {
    width: 70px;
    height: 70px;
  }
  60% {
    width: 30px;
    height: 30px;
  }
  65% {
    width: 50px;
    height: 50px;
  }
  70% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  80% {
    width: 50px;
    height: 50px;
  }
  85% {
    width: 70px;
    height: 70px;
  }
  90% {
    width: 60px;
    height: 60px;
  }
  95% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 80px;
    height: 80px;
  }
}

@keyframes bloom2 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  55% {
    width: 70px;
    height: 70px;
  }
  60% {
    width: 30px;
    height: 30px;
  }
  65% {
    width: 50px;
    height: 50px;
  }
  70% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  80% {
    width: 50px;
    height: 50px;
  }
  85% {
    width: 70px;
    height: 70px;
  }
  90% {
    width: 60px;
    height: 60px;
  }
  95% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 80px;
    height: 80px;
  }
}

.bloom3 {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 0px;

  -webkit-animation: bloom3 2s 0.75s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: bloom3 2s 0.75s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom3 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
  55% {
    width: 42px;
    height: 42px;
    margin-bottom: 0px;
  }
  60% {
    width: 46px;
    height: 46px;
    margin-bottom: 40px;
  }
  65% {
    width: 49px;
    height: 49px;
    margin-bottom: -30px;
  }
  70% {
    width: 53px;
    height: 53px;
    margin-bottom: 30px;
  }
  75% {
    width: 56px;
    height: 56px;
    margin-bottom: -20px;
  }
  80% {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  85% {
    width: 63px;
    height: 63px;
    margin-bottom: -10px;
  }
  90% {
    width: 67px;
    height: 67px;
    margin-bottom: 10px;
  }
  95% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }

  100% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }
}

@keyframes bloom3 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
  55% {
    width: 42px;
    height: 42px;
    margin-bottom: 0px;
  }
  60% {
    width: 46px;
    height: 46px;
    margin-bottom: 40px;
  }
  65% {
    width: 49px;
    height: 49px;
    margin-bottom: -30px;
  }
  70% {
    width: 53px;
    height: 53px;
    margin-bottom: 30px;
  }
  75% {
    width: 56px;
    height: 56px;
    margin-bottom: -20px;
  }
  80% {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  85% {
    width: 63px;
    height: 63px;
    margin-bottom: -10px;
  }
  90% {
    width: 67px;
    height: 67px;
    margin-bottom: 10px;
  }
  95% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }

  100% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }
}

.bloom4 {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;

  -webkit-animation: bloom4 2s 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: bloom4 2s 0.5s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom4 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}

@keyframes bloom4 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}
