body {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 1.4rem;
}
h1 {
  font-size: 2.4rem;
}
hr {
  border-color: rgba(255, 255, 0, 1);
  margin: 0.25rem 0 0.75rem 0;
}
h4 {
  font-size: 1.6rem;
  font-style: italic;
}
#intro {
  min-height: 100px;
  background-color: indigo;
  color: rgba(255, 255, 0, 1);
  text-align: center;
  padding: 1rem;
}
#intro-comment-box {
  color: rgba(71, 32, 122, 1);
  background: rgba(255, 255, 0, 1);
  padding: 0.8rem;
  text-align: center;
}
.slideshow-container,
.parallax-slideshow-container {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: lightgray;
  overflow: hidden;
}
figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}
#intro-slide-1 {
  background: url("../images/dome.jpg") no-repeat center center;
  opacity: 1;
  background-size: cover;
  -webkit-background-size: cover;
}
#intro-slide-2 {
  background: url("../images/greenhouse.jpg") no-repeat center center;
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background-size: cover;
  -webkit-background-size: cover;
}
#intro-slide-3 {
  background: url("../images/observatory.jpg") no-repeat center center;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background-size: cover;
  -webkit-background-size: cover;
}
#intro-slide-4 {
  background: url("../images/japanese-garden.jpg") no-repeat center center;
  animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background-size: cover;
  -webkit-background-size: cover;
}
/* keyframes*/
@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transformm: scale(1);
  }
}
@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transformm: scale(1);
  }
}
.comment-box,
#text-3 {
  color: rgba(255, 255, 0, 1);
  background: rgba(71, 32, 122, 1);
  padding: 1.8rem;
}
.parallax {
  /* Set a specific height */
  position: relative;
  min-height: 90vh;
  /* Create the parallax scrolling effect */
  /* scroll (default), fixed, local (scrolls with element contents), initial, inherit*/
  background-attachment: fixed;
  /* left, right and center and be combined with top center and bottom. default 0% 0%, can be px, mix*/
  background-position: center;
  /* repeat, repeat-x, repeat-y, no-repreat, space, round, initial, inherit*/
  background-repeat: no-repeat;
  /* auto (default), cover, contain, and numerical inputs.*/
  background-size: cover;
}
#parallax-1 {
  /* The image used */
  background-image: url("../images/lilly.jpg");
}
#parallax-2 {
  /* The image used */
  background-image: url("../images/sunflowers.jpg");
}
#parallax-3 {
  /* The image used */
  background-image: url("../images/sunflowers.jpg");
}
#parallax-4 {
  /* The image used */
  background-image: url("../images/sunflowers.jpg");
}
.parallax-move-background {
  /* Set a specific height */
  position: relative;
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  /* scroll (default), fixed, local (scrolls with element contents), initial, inherit*/
  /*background-attachment: fixed;*/
  /* left, right and center and be combined with top center and bottom. default 0% 0%, can be px, mix*/
  /* repeat, repeat-x, repeat-y, no-repreat, space, round, initial, inherit*/
  /*background-repeat: no-repeat;*/
  /* auto (default), cover, contain, and numerical inputs.*/
  /*background-size: cover;*/
}
#parallax-5 {
  /* The image used */
  background-image: url("../images/bald-cypress.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.parallax-comment-box {
  margin: 0;
  width: 50%;
  color: rgba(194, 1, 118, 1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1.8rem;
  z-index: 10;
}

.parallax-comment-box-zero {
  margin: 0;
  width: 0%;
  font-size: 0rem;
  color: rgba(194, 1, 118, 1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0rem;
  z-index: 10;
}

.sliding-background-container {
  height: 60vh;
  overflow: hidden;
}
.sliding-background {
  background: url("../images/grove-house.jpg") no-repeat;
  background-size: cover;
  background-position: left center;
  min-height: 100%;

  animation: xslide 60s linear infinite alternate;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes xslide {
  0% {
    background-position: left center;
  }
  5% {
    background-position: left center;
  }
  95% {
    background-position: right center;
  }
  100% {
    background-position: right center;
  }
}
@keyframes xslide {
  0% {
    background-position: left center;
  }
  5% {
    background-position: left center;
  }
  95% {
    background-position: right center;
  }
  100% {
    background-position: right center;
  }
}
.video-parallax {
  position: relative;
  /* Set a specific height */
  height: 100vh;
  background-image: url("../images/bees.jpg");
  background-size: cover;
  /*overflow: hidden;*/
  z-index: -30;
}
#bee-video {
  position: fixed;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  right: 0;
  z-index: -29;
}

.effect-container {
  background-color: rgba(0, 100, 0, 1);
}
.effect-header {
  color: white;
  text-decoration: underline;
  text-align: center;
  padding-top: 1.5rem;
}
#animation-div {
  height: 30vh;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 1.5rem;
}
.animation-box {
  /*flex-grow: 1;*/
  width: 25%;
}
.circle {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
}
.circle2 {
  width: 80px;
  height: 80px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
}
.bloom1 {
  -webkit-animation: bloom1 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: bloom1 2s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom1 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}
@keyframes bloom1 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}

.grow {
  -webkit-animation: grow 0.75s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: grow 0.75s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes grow {
  from {
    width: 0%;
    font-size: 0rem;
    padding: 0rem;
  }
  to {
    width: 50%;
    font-size: 1.4rem;
    padding: 1.8rem;
  }
}

@keyframes grow {
  from {
    width: 0%;
    font-size: 0rem;
    padding: 0rem;
  }
  to {
    width: 50%;
    font-size: 1.4rem;
    padding: 1.8rem;
  }
}

.shrink {
  -webkit-animation: shrink 0.75s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: shrink 0.75s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shrink {
  from {
    width: 50%;
    font-size: 1.4rem;
    padding: 1.8rem;
  }
  to {
    width: 0%;
    font-size: 0rem;
    padding: 0rem;
  }
}

@keyframes shrink {
  from {
    width: 50%;
    font-size: 1.4rem;
    padding: 1.8rem;
  }
  to {
    width: 0%;
    font-size: 0rem;
    padding: 0rem;
  }
}

.bloom2 {
  -webkit-animation: bloom2 2s 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */

  animation: bloom2 2s 0.5s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom2 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  55% {
    width: 70px;
    height: 70px;
  }
  60% {
    width: 30px;
    height: 30px;
  }
  65% {
    width: 50px;
    height: 50px;
  }
  70% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  80% {
    width: 50px;
    height: 50px;
  }
  85% {
    width: 70px;
    height: 70px;
  }
  90% {
    width: 60px;
    height: 60px;
  }
  95% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 80px;
    height: 80px;
  }
}
@keyframes bloom2 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  55% {
    width: 70px;
    height: 70px;
  }
  60% {
    width: 30px;
    height: 30px;
  }
  65% {
    width: 50px;
    height: 50px;
  }
  70% {
    width: 40px;
    height: 40px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  80% {
    width: 50px;
    height: 50px;
  }
  85% {
    width: 70px;
    height: 70px;
  }
  90% {
    width: 60px;
    height: 60px;
  }
  95% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 80px;
    height: 80px;
  }
}
.bloom3 {
  -webkit-animation: bloom3 2s 0.75s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: bloom3 2s 0.75s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom3 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
  55% {
    width: 42px;
    height: 42px;
    margin-bottom: 0px;
  }
  60% {
    width: 46px;
    height: 46px;
    margin-bottom: 40px;
  }
  65% {
    width: 49px;
    height: 49px;
    margin-bottom: -30px;
  }
  70% {
    width: 53px;
    height: 53px;
    margin-bottom: 30px;
  }
  75% {
    width: 56px;
    height: 56px;
    margin-bottom: -20px;
  }
  80% {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  85% {
    width: 63px;
    height: 63px;
    margin-bottom: -10px;
  }
  90% {
    width: 67px;
    height: 67px;
    margin-bottom: 10px;
  }
  95% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }

  100% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }
}
@keyframes bloom3 {
  0% {
    width: 10px;
    height: 10px;
  }
  50% {
    width: 10px;
    height: 10px;
  }
  55% {
    width: 42px;
    height: 42px;
    margin-bottom: 0px;
  }
  60% {
    width: 46px;
    height: 46px;
    margin-bottom: 40px;
  }
  65% {
    width: 49px;
    height: 49px;
    margin-bottom: -30px;
  }
  70% {
    width: 53px;
    height: 53px;
    margin-bottom: 30px;
  }
  75% {
    width: 56px;
    height: 56px;
    margin-bottom: -20px;
  }
  80% {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  85% {
    width: 63px;
    height: 63px;
    margin-bottom: -10px;
  }
  90% {
    width: 67px;
    height: 67px;
    margin-bottom: 10px;
  }
  95% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }

  100% {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
  }
}
.bloom4 {
  -webkit-animation: bloom4 2s 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: bloom4 2s 0.5s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bloom4 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}

@keyframes bloom4 {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 80px;
    height: 80px;
  }
}
.wilt {
  -webkit-animation: wilt 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: wilt 2s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes wilt {
  from {
    width: 80px;
    height: 80px;
  }
  to {
    width: 10px;
    height: 10px;
  }
}

@keyframes wilt {
  from {
    width: 80px;
    height: 80px;
  }
  to {
    width: 10px;
    height: 10px;
  }
}
#progressive-demo-container {
  height: 60vh;
  min-height: 400px;
  position: relative;
}
#moving-frames-div {
  height: 300px;
  width: 300px;
  background-color: rgba(0, 100, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#span-box-1,
#span-box-2,
#span-box-3,
#span-box-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid white;
}

#conclusion-slide-1 {
  /* Removed "fixed" which was controlling parallax effect*/
  background: url("../images/ottoman-garden.jpg") no-repeat center center;
  background-attachment: fixed;
  opacity: 1;
  background-size: cover;
  -webkit-background-size: cover;
}
#conclusion-slide-2 {
  background: url("../images/hedge-garden.jpg") no-repeat center center;
  background-attachment: fixed;
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background-size: cover;
  -webkit-background-size: cover;
}
#conclusion-slide-3 {
  background: url("../images/espallier.jpg") no-repeat center center;
  background-attachment: fixed;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background-size: cover;
  -webkit-background-size: cover;
}
#conclusion-slide-4 {
  background: url("../images/japanese-garden2.jpg") no-repeat center center;
  background-attachment: fixed;
  animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background-size: cover;
  -webkit-background-size: cover;
}
.opaque0 {
  margin: 0;
  width: 50%;
  color: rgba(194, 1, 118, 0);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1.8rem;
  z-index: 10;
}

.appear1 {
  -webkit-animation: appear1 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: appear1 1s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes appear1 {
  from {
    color: rgba(194, 1, 118, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    color: rgba(194, 1, 118, 1);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes appear1 {
  from {
    color: rgba(194, 1, 118, 0);
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    color: rgba(194, 1, 118, 1);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.fade1 {
  -webkit-animation: fade1 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: fade1 1s;
  animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade1 {
  from {
    color: rgba(194, 1, 118, 1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  to {
    color: rgba(194, 1, 118, 0);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes fade1 {
  from {
    color: rgba(194, 1, 118, 1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  to {
    color: rgba(194, 1, 118, 0);
    background-color: rgba(255, 255, 255, 0);
  }
}

footer {
  background-color: rgba(255, 255, 0, 1);
  color: indigo;
  font-size: 1.1em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 2px solid indigo;
}
.soc-media-div {
  margin-top: 8px;
}
.soc-media-links {
  margin: 0px 10px 0px 10px;
}
.fab {
  font-size: 1.3em;
  color: indigo;
}
.fas {
  font-size: 1.1em;
  color: indigo;
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.125);
  color: black;
}

@media all and (max-width: 1024px) {
  .parallax,
  #parallax-5,
  #conclusion-slide-1,
  #conclusion-slide-2,
  #conclusion-slide-3,
  #conclusion-slide-4 {
    background-attachment: scroll;
  }

  #parallax-2 {
    background-image: url("../images/joepye.jpg");
  }

  #parallax-4 {
    background-image: url("../images/coneflowers.jpg");
  }

  #bee-video {
    position: absolute;
  }
}

@media all and (max-width: 542px) {
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.2rem;
    font-style: italic;
  }
  #parallax-5 {
    /* The image used */
    background-image: url("../images/bald-cypress2.jpg");
  }

  @-webkit-keyframes grow {
    from {
      width: 0%;
      font-size: 0rem;
      padding: 0rem;
    }
    to {
      width: 50%;
      font-size: 1.1rem;
      padding: 1.8rem;
    }
  }

  @keyframes grow {
    from {
      width: 0%;
      font-size: 0rem;
      padding: 0rem;
    }
    to {
      width: 50%;
      font-size: 1.1rem;
      padding: 1.8rem;
    }
  }

  @-webkit-keyframes shrink {
    from {
      width: 50%;
      font-size: 1.1rem;
      padding: 1.8rem;
    }
    to {
      width: 0%;
      font-size: 0rem;
      padding: 0rem;
    }
  }

  @keyframes shrink {
    from {
      width: 50%;
      font-size: 1.1rem;
      padding: 1.8rem;
    }
    to {
      width: 0%;
      font-size: 0rem;
      padding: 0rem;
    }
  }
}
