.intro {
  background-color: indigo;
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 20px;
}

.parallax {
  /* Set a specific height */
  min-height: 75vh;

  /* Create the parallax scrolling effect */
  /* scroll (default), fixed, local (scrolls with element contents), initial, inherit*/
  background-attachment: fixed;
  /* left, right and center and be combined with top center and bottom*/
  background-position: center;
  /* repeat, repeat-x, repeat-y, no-repreat, space, round, initial, inherit*/
  background-repeat: no-repeat;
  /* auto (default), cover, contain, and numerical inputs.*/
  background-size: cover;
}

#parallax-1 {
  /* The image used */
  background-image: url("../images/lilly.jpg");
}

#parallax-2 {
  /* The image used */
  background-image: url("../images/joepye.jpg");
  position: relative;
}

#parallax-3 {
  /* The image used */
  background-image: url("../images/sunflowers.jpg");
}

#parallax-4 {
  /* The image used */
  background-image: url("../images/coneflowers.jpg");
}

.text-1,
.text-3 {
  background-color: rgba(255, 102, 178, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 36px;
  padding: 50px;
}

.text-2 {
  font-size: 36px;
  padding: 50px;
  color: white;
  position: absolute;
  bottom: 0;
}

#moving-frames-div,
#animation-div {
  height: 75vh;
  background-color: rgba(0, 100, 0, 1);
  position: relative;
}

#span-box-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 1;
  border: 1px solid white;
}

#span-box-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 2;
  border: 1px solid white;
}

#span-box-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 3;
  border: 1px solid white;
}

#span-box-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 4;
  border: 1px solid white;
}

#animation-div {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
}

.animation-box {
  flex-grow: 1;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
}

.circle2 {
  width: 60px;
  height: 60px;
  border: 1px solid red;
  border-radius: 50%;
  margin: 0 auto;
}
